<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
registration
<form action="/registration" method="post" class="user">
  <div class="form-group">
    <input type="text" class="form-control form-control-user"
           id="exampleInputEmail" name="username" aria-describedby="emailHelp"
           placeholder="Enter Email Address...">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control form-control-user"
           id="exampleInputPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox small">
      <input type="checkbox" class="custom-control-input" id="customCheck">
      <label class="custom-control-label" for="customCheck">Remember
        Me</label>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="${_csrf.token}">

  <input type="submit" value="Зарегестрироваться" class="btn btn-primary btn-user btn-block"/>
  <hr>
</form>
</body>
</html>